.homeimage__slider {
  width: 100%;
  height: 79% !important;
  z-index: -1;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}
.prev__btn {
  display: none;
}
.next__btn {
  display: none;
}
.homeimage img {
  width: 100%;
  height: 100%;
}
